
Implemetation based on "CUR matrix decompositions for improved data analysis" by Mahoney and Drineas 

Paper link: https://www.pnas.org/content/pnas/106/3/697.full.pdf

Code: Ahmed Almostafa Gashgash

In [26]:
import numpy as np
import time
import random
import pandas as pd

In [23]:
def column_select(A,k,eps):
        
        """"
        INPUT: A: n x m matrix, rank: desired low rank, eps: error parameter
        OUTPUT: returns k most representative columns of matrix A
        """
        
        c = (k* np.log(k)) / (eps**2)                                # c=O(klogk/e^2)
        U,S,Vt = np.linalg.svd(A,full_matrices = False)             # Compute SVD
        Vt = Vt[:k,:]                                               # Truncated columns of V
        pr = (1/k)*(Vt**2).sum(axis=0)                              # Prob of keeping jth column of A
        pr = [min(1,c*p) for p in pr]
        
        index_select = [ (random.random < p) for p in probs]
        columns = A[:,idxs]
        
        return columns

In [24]:
def CUR_Decomposition(A, rank, eps):
    
    """
    INPUT: A: n x m matrix, rank: desired low rank, eps: error parameter
    OUTPUT: returns C, U and R resulting from the CUR decomposition of the matrix.
    """
    # Get size
    m = A.shape[0]
    n = A.shape[1]
    k = rank
    
    # Initialize C and R 
    C = np.zeros((m, k))
    R = np.zeros((rank, n))
    
    if k>min(m,n):
        print("ERROR: rank cannot exceed matrix dimensions.\n")
        return;
    
    C = column_select(A,k,eps)
    R = column_select(A.T,k,eps)
    U = inv(C) @ A @ inv(R.T)
    
    return C,U,R

In [29]:
# Example 
# Upload Data
data = pd.read_csv("./day.csv",sep=',',header=None) 
# Preview Data
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
1,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
2,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
3,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
4,4,2011-01-04,1,0,1,0,2,1,1,0.2,0.212122,0.590435,0.160296,108,1454,1562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
728,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.59,0.155471,644,2451,3095
729,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.2424,0.752917,0.124383,159,1182,1341
730,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.2317,0.483333,0.350754,364,1432,1796
731,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.5775,0.154846,439,2290,2729